polygon {
    stroke: black;
    stroke-width: 2;
    stroke-linejoin: round;
}
#frontTriangle {
    fill: rgb(193, 193, 241);
}
#backgroundTriangle {
    fill: rgb(238, 168, 168);
}
#angle, #side {
    fill: greenyellow;
    text-shadow: 1px 1px gray;
}
